@import "variables";
@import "normalize";

.carousel-cell {
    width: 100%;
    height: calc(50vh - 10px);
    min-height: 250px;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;

        h1 {
            position: absolute;
            top: -180px;
            color: #fff;
            font-size: 100px;
            text-transform: uppercase;
            text-align: center;
            text-shadow: 5px 5px #333;
        }
    }
}

.carousel-links {
    text-align: center;
}

.reload-btn {
    width: 100px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar {
    height: 20px;
    width: 0;
    background: #333;
}

img {
    height: 100%;
}

// google maps
#map {
    width: 100%;
    height: calc(50vh - 10px);
    position: relative;
}

#infos {
    position: absolute;
    top: 120px;
    left: 50%;
    color: red;
    text-align: center;
}
