@import "variables";
@import "normalize";

.carousel-cell {
    width: 100%;
    height: calc(50vh - 10px);
    min-height: 250px;

    .container {
        max-width: 1200px;
        margin: 0 auto;

        p {
            text-align: center;
            position: relative;
            top: 70px;
            color: #fff;
            font-size: 20px;
        }
    }
}

.carousel-links {
    text-align: center;
}

.reload-btn {
    width: 100px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar {
    height: 20px;
    width: 0;
    background: #333;
}

// google maps
#map {
    width: 100%;
    height: calc(50vh - 10px);
}
